*
{
	
	margin: 0px;
	padding: 0px;
}
/*
** layout **
*/
body{
	background: #e6e6e6;
	font-size: 1em;

}

#area-cabecalho{
	background: #f88b01;
	padding: 15px;
	text-align: center;

}
#area-logo , #area-menu
{
	 padding: 10px;
}

/*
** formatacoes menu **
*/

a:link , a:visited{
	color:#f88b01;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#rodape a:link{
	color: black;
	
}

#area-cabecalho a:link ,#area-cabecalho a:visited {

	padding: 8px 12px;
    color: white;
    text-decoration: none;
}

#area-cabecalho a:hover{
	color:#f88b01;
	background: white;
}
#area-principal-celulares a:link , #area-principal-celulares a:visited{
	color: black;
	text-decoration: none;
}
#area-principal-celulares a:hover{
	color:#D2691E;
	
}




/*
** fomatacoes principal **
*/


#area-principal{
   
	width: 920px;
	margin: 0 auto;
	padding: 15px;
	
	
}
#area-postagens{

	width: 660px;
	float: left;

	
}
.postagem{
	
	padding: 20px;
	margin-bottom: 20px;
	background: white;
	
}



#area-lateral{
	
	width: 240px;
	float: right;
}
.postagem-lateral{


 font-size: 0.8em;
	margin: 5px;


}
.conteudo-lateral{
	background: white;
    padding: 10px;
    margin-bottom: 20px;

}

#rodape{
		clear: both;
		background: #ccc;
		text-align: center;
		padding: 15px;
}

/*
*** celulares ***
*/
.absolute {
	position: absolute;
	top
	

}

#area-principal-celulares {
   
	width: 1150px;
	background: white;
	padding: 15px;
	margin: 0 auto;
	
	
	
	
}

.postagem-celulares{
	
	width: 200px;
	margin: 20px;

	background: white;
	float: right;
	border: 1px solid #F8F8FF;
	
}
#descricao-postagem-celulares{
	font-size: 1.2em;
	background:#F8F8FF ;
	padding: 10px;
	margin: 0px;
}
#preco{
	font-size: 1.4em;
}
/*
*** area lateral celulares ***
*/

#area-lateral-celulares{

	width: 200px;
	margin-top: 20px;
	border: 1px solid #F8F8FF;
	
}
#area-lateral-delatalhes{
	padding: 5px;
	margin-top: 5px;
	float: left;

}
#conteudo-lateral{
	margin-top: 5px;
	float: left;
}







.clear{
	clear: both;
}








/*
** formatacoes em geral **
*/

h1{
	font-size: 2.5em;
}
.branco{
	color: white;
}
.preto{
	color: black;
}
h2{
	color: #f7b600;
}
h3{
	background: #ccc;
	padding: 5px;
}
.data-postagem{
	font-size: 0.8em;
	border-bottom: 0px solid #f4f4f4;
	margin-bottom: 10px;
	padding-bottom: 10px;
	display: block;
	
	
}


