*{
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
}
body{
	background: #d2d2c1 url('imagens/fundo.png');
    font: 18px  italic;	
    max-width: 860px;
	min-width: 320px;
	margin: 0 auto;
}

#principal{
	
}

#menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #c5c5b2;
	padding: 10px;
}
img{
	width: 100%;
}
#conteudo{
	background: white;
	padding: 10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	box-shadow: 1px 1px 3px black;
}

.img-campanha{
	display: block;
	border: 10px solid #c3c3a3;
	margin: 0 auto;
	box-shadow: 1px 1px 3px black;
	border-radius: 5px;
	width: 80%;
	
}


a{
	color: #4B566A;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}
p{
	text-align: justify;
	text-indent: 20px;
	padding: 10px;
}

h1{
	color: #828271;
	font-size: 1.2em;
}
h4{
	color: black;
}
.centralizar{
	text-align: center;
}

