body{
	font-family: "Trebuchet Ms", "Helvetica", sans-serif ;
	background: #f2f2f2;

}


#container{
	width: 86%;
	min-width: 500px;
	margin: 0 auto;
	background: #fff;
}
#marca{
	color: white;
	height: 100px;
	padding: 30px;
	background-image:url("../imagens/cabecalho2.jpg");
	background-position: top center;
	text-align: center;
	line-height: 100px;
}
img{
	width: 100%;
}
#conteudo{
	
	width: 75%;
	float: right;
	
}
#navegacao{

	width: 23%;
	background: #DCDCDC;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-left: 5px;
}
.conteudo-principal{
	
	width: 54%;
	float: left;
}

.conteudo-secundario{
	
	float: right;
	width: 36%;
	background:#DCDCDC;
	padding:10px;
}
#navegacao ul{
	list-style: none;
}
#navegacao ul a{
	text-decoration: none;
}
#rodape{
	background: #ccc;
	clear: both;
	text-align: center;
	padding: 5px;
	
	
}