*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	background: url(../imagens/fundo.png) repeat-x center;

	



}
header{
	width: 750px;
	background: url(../imagens/detalhe-topo.png) right top no-repeat ;
	background-size: 150px;
	margin: 0 auto;
	height: 160px;

}

nav{
	background-color:#b10333;
	padding: 10px 0px 10px 0px;
	display: inline-block;
	


}
a{
	padding: 11.5px;
	color: white;
	text-decoration: none; 
	font-weight: bold;
	background: url(../imagens/divisor.png) no-repeat left center;
}
a:hover{
	background-color:red;
}
.primeiro{
	background: none;
}

header img{
	padding: 15px 0px 15px 0px;
}